# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.8H-ExampleGame.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\GitProjects\8H-ExampleGame\.idea\.idea.8H-ExampleGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
